In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
dates = pd.date_range('20160303',periods=365)
ints=pd.interval_range(0,365)
ints=l = [i for i in range(365)]

d = {'dates' : dates, 'ints':ints}
df=pd.DataFrame(d)
df

         dates  ints
0   2016-03-03     0
1   2016-03-04     1
2   2016-03-05     2
3   2016-03-06     3
4   2016-03-07     4
..         ...   ...
360 2017-02-26   360
361 2017-02-27   361
362 2017-02-28   362
363 2017-03-01   363
364 2017-03-02   364

[365 rows x 2 columns]